.intro {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    border: 1px solid black;
    margin-top: 20px;
    padding: 5px;
}

.app-main-container {
    display: flex;
}

.reading-list-component {
    width: fit-content;
}

.search-bar-component {
   height: 136.44px;
}

.vertical {
    margin-left: 20px;
}
